#
# SPDX-FileCopyrightText: Copyright 2023-2024 Andreas Sandberg <andreas@sandberg.uk>
#
# SPDX-License-Identifier: Apache-2.0
#

choice
	prompt "Transport"
	default RFCH_TRANSPORT_USB

config RFCH_TRANSPORT_NONE
	bool "None"
	help
	  Disable the radio interface.

config RFCH_TRANSPORT_USB
	bool "USB"
	depends on USB_DEVICE_STACK
	select POLL
	help
	  Enable the USB interface to RF Chameleon.

endchoice

if !RFCH_TRANSPORT_NONE

config RFCH_TRANSPORT_SLAB
	int "Maximum number of entries in transport FIFOs"
	default 64
	help
	  This controls the size of the slab allocator that is used to
	  allocate request and data packets. It effectively controls
	  the Maximum number of request and RX packets that can be in
	  flight at any given time.

config RFCH_TRANSPORT_STACK_SIZE
	int "Request handling thread stack size"
	default 2048
	help
	  Size of the stack used for the request handling thread.

endif

choice
	prompt "Radio"
	default RFCH_BACKEND_CC1101

config RFCH_BACKEND_CC1101
	bool "TI CC1101"
	depends on RFCH_CC1101
	help
	  Texas Instruments CC1101

config RFCH_BACKEND_TEST
	bool "Test radio"
	help
	  Virtual radio used for testing.

endchoice

config STM32_BOOTLOADER
	bool
	depends on SOC_STM32F401XC
	default y
