#
# SPDX-FileCopyrightText: Copyright 2023 Andreas Sandberg <andreas@sandberg.uk>
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_RFCCC1101
	bool "RF Chameleon CC1101 board"
	depends on SOC_STM32F401XC
